.fa-solid {
  font-size: 1.563rem;
  color: white;
  background: black;
  width: 2.813rem;
  border-radius: 0.875rem;
  text-align: center;
  height: 2.813rem;
  box-shadow: 0 0.188rem 1.063rem 0 rgba(0, 0, 0, 0.3);
  padding: 0.625rem;
}

.btn-close-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.btn-close-menu:not(.visible) {
  opacity: 0;
  pointer-events: none;
}
.flex-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}
ul {
  list-style-type: none;
  padding: 0;
}
.disc {
  list-style-type: disc;
  padding: 1rem;
}
.maze,
.freshf,
.boldy,
.levitate {
  color: white;
  font-weight: 700;
}

.three-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  gap: 2rem;
}
.maze {
  background-color: #0e1ed8ff;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  font-size: 23px;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 9px;
  border-radius: 14px;
  box-shadow: 1px 1px 14px rgba(14, 30, 216, 0.2);
}
.freshf {
  background-color: #946cffff;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  font-size: 23px;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 9px;
  border-radius: 14px;
  box-shadow: 1px 1px 14px rgba(148, 108, 255, 0.2);
}

.boldy {
  background-color: #f4e101ff;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  font-size: 23px;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 9px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(244, 225, 1, 0.2);
}
.levitate {
  background-color: #0ad81dff;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  font-size: 23px;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 9px;
  border-radius: 14px;
}

.one,
.deux,
.three {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

@media (min-width: 768px) {
  div.nav-items {
    display: inline-block;
  }
  i.btn-hamburger-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  div.nav-items {
    display: flex;
    gap: 3em;
  }

  .nav-bar {
    margin-top: 2em;
  }

  .padder {
    padding: 0.8rem;
  }
  .flex-row {
    gap: 2em;
    margin-top: 2em;
  }

  .one {
    display: flex;
    flex-direction: row;
  }

  .deux {
    display: flex;
    flex-direction: row-reverse;
  }

  .three {
    display: flex;
    flex-direction: row;
  }

  .three-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .three-items {
    display: flex;
    flex-direction: row;
    padding: 1px;
  }

  .freshf,
  .boldy,
  .maze,
  .levitate {
    width: 42%;
  }
  i.fa-arrow-up {
    margin-left: 42rem;
    margin-top: 4rem;
    font-size: 1.563rem;
    color: white;
    background: black;
    width: 2.813rem;
    border-radius: 2.875rem;
    text-align: center;
    height: 2.813rem;
    box-shadow: 0 0.188rem 1.063rem 0 rgba(0, 0, 0, 0.3);
    padding: 0.625rem;
  }
}

@media screen and (min-width: 1440px) {
  .padder {
    padding: 2.8rem;
  }

  .flex-row {
    display: flex;
    justify-content: center;
    gap: 11em;
  }

  body {
    padding: 0;
  }

  .logo {
    width: 5em;
    margin-left: 2em;
  }

  div.nav-items {
    display: flex;
    gap: 3em;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
  }

  div.nav-bar {
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
    gap: 2px;
    margin-right: 0.6em;
  }
  .mini {
    margin-left: 2em;
  }

  .img {
    height: 450px;
  }

  .sum-add {
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
  }
}
