* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.azuna {
  width: 19em;
  border-radius: 1rem;
  margin-top: 2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.hamburger-menu-content {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  color: black;
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.logo {
  width: 3em;
}

.fa-solid,
.fas {
  font-weight: 900;
}

.s-icon {
  margin-right: auto;
  transition: all 0.3s linear 0s;
}
.nav-bar {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  gap: 0.4em;
  position: relative;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
}

.mini-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

p {
  font-size: 1rem;
  line-height: 3rem;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .main-content {
    flex-direction: column;
    padding: 2rem;
  }

  h3 {
    font-size: 4rem;
  }

  .azuna {
    width: 26rem;
  }
}

@media screen and (min-width: 1440px) {
  .main-content {
    flex-direction: row-reverse;
    padding: 3rem;
    display: flex;
    gap: 6em;
  }
}
